<div class="grid-container">
  <h2>Add Category</h2>

  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="input">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="categoryForm.get('name')?.hasError('required')">
        The name is required
      </mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Create Category</button>
  </form>
</div>