<div class="grid-container">
  <h2>Category</h2>

  <div class="filter-container">
    <mat-form-field class="filter-input">
      <mat-label>Filtrar</mat-label>
      <input matInput placeholder="Buscar categoría..." [(ngModel)]="filtro">
    </mat-form-field>

    <a routerLink="/add-category" mat-raised-button color="accent">Add</a>
  </div>

  <mat-nav-list>
    <a mat-list-item [routerLink]="['/category', category._id, 'users']" *ngFor="let category of categories | filterCategories:filtro" class="list_item">
      {{ category.name }}
    </a>
  </mat-nav-list>
</div>
