<div class="grid-container">
  <h2>Category</h2>

  <div class="filter-container">
    <mat-form-field class="filter-input">
      <mat-label>Filtrar</mat-label>
      <input matInput placeholder="Buscar categoría..." [(ngModel)]="filtro">
    </mat-form-field>

    <a *ngIf="userRole === 'admin' || userRole === 'professional'" routerLink="/add-category" mat-raised-button color="accent">Add</a>

  </div>

  <div class="user-card-container">
    <mat-card *ngFor="let category of categories" class="user-card">
      <mat-card-header>
        <mat-card-title>{{ category.name }}</mat-card-title>
        <mat-card-subtitle>Profesionales en esta categoria</mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-content>
        <!-- <p><strong>Teléfono:</strong> {{ user.phone || 'N/A' }}</p>
        <p><strong>Rol:</strong> {{ user.role || 'Sin rol' }}</p> -->
      </mat-card-content>
      <mat-card-actions align="end">
        <a [routerLink]="['/category', category._id, 'users']" mat-stroked-button color="primary">Ver Disponibles</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
